$fuenteT: 'Viga'; 
$fuenteH: 'Viga'; 
$fuenteP: 'Raleway'; 
$fuenteH2: 'Roboto'; 


$color: #df0808;;

$cblanco: white;
$cgris1: #f1f1f1;
$cgris2: #c41212a2;
$cgris3: #0b1016a4;
$cgris4: #db1313;
$cgris5: #e72525;
$cgris6: #7d6c6c;
$cgris7: #574949;
$cgris8: #e21e1e;
$cgris9: #292121;
$cnegro:  rgb(10, 8, 8);





























$ccla1: saturate(lighten($color, 7%),7%);
$ccla2: saturate(lighten($color, 14%),14%);
$ccla3: saturate(lighten($color, 21%),21%);
$ccla4: saturate(lighten($color, 28%),28%);
$ccla5: saturate(lighten($color, 35%),35%);
$ccla6: saturate(lighten($color, 42%),42%);
$ccla7: saturate(lighten($color, 49%),49%);
$ccla8: saturate(lighten($color, 56%),56%);
$ccla9: saturate(lighten($color, 63%),63%);
$cosc1: desaturate(darken($color, 7%),7%);
$cosc2: desaturate(darken($color, 14%),14%);
$cosc3: desaturate(darken($color, 21%),21%);
$cosc4: desaturate(darken($color, 28%),28%);
$cosc5: desaturate(darken($color, 35%),35%);
$cosc6: desaturate(darken($color, 42%),42%);
$cosc7: desaturate(darken($color, 49%),49%);
$cosc8: desaturate(darken($color, 56%),56%);
$cosc9: desaturate(darken($color, 63%),63%);